@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: theme("colors.bg.dark");
  color: theme("colors.accent.gold");
  font-family: theme("fontFamily.body");
}
